ion-item {
    .grid-container-two {
        margin-top: 3%;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 5px;
        width: 100dvw;
        grid-auto-rows: minmax(100px, auto);
        .grid-item-two {
                text-align: center;}
    }
}

ion-footer{position: fixed;bottom: 0;margin-bottom: 0;}