<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="md">
      <span>{{respData.name}}</span>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="borderBottom">
    <div class="stadium-banner">
      <div class="big-image">
        <img src="{{respData.cover}}">
      </div>
      <div class="small-image">
        <img src="{{respData.smallImg}}" alt="">
      </div>
      <ion-label class="stadium-details">
        <ion-item class="stadium-description">
          <ion-text class="stadium-text" color="medium">
            <p class="location-address"> <ion-icon name="location"></ion-icon>{{respData.stadiumLocation}}</p>
            <p class="location-address"> {{respData.members}} members</p>
            <p class="location-distance">{{respData.description}}</p>
          </ion-text>
        </ion-item>
        <ion-button class="chat-btn" shape="round">Join </ion-button>
      </ion-label> 
    </div>
  </ion-row>
<ion-grid>
  <ion-header>Food Trucks</ion-header>
  <ion-row>
    <div class="ContainerFoodTruck" *ngIf="respTrucks.length > 0">
      <app-small-squareblocks *ngFor="let truck of respTrucks"  [item]="truck" [routerLink]="['/', 'truck', truck.tid ]" ></app-small-squareblocks> 
    </div>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-header>Popular Food trucks</ion-header>
  <ion-row *ngIf="respTrucks.length > 0">
    <app-squareblocks *ngFor="let truck of respTrucks" [item]="truck" [routerLink]="['/', 'truck', truck.tid ]"></app-squareblocks>
  </ion-row>
</ion-grid>

</ion-content>
