<ion-thumbnail>
  <img alt="Silhouette of mountains"
    [src]="item?.cover ? item?.cover : 'https://ionicframework.com/docs/img/demos/thumbnail.svg' " lazy-loading />
</ion-thumbnail>
<div class="bottom">
  <div class="bottom-details">
    <p>{{item?.menuItem}}</p>
    <p>R {{item?.price}}</p>
  </div>
  <div class="bottom-actions">
    <div class="rating">
      <li><ion-icon icon="star"></ion-icon></li>
      <p>{{item?.rating}}</p>
    </div>
    <ion-row *ngIf="item?.quantity<=0" (click)="quantityPlus(i)">
      <ion-text>
        <p>Buy </p>
      </ion-text>
    </ion-row>
    <ion-row *ngIf="item?.quantity >0">
      <ion-icon color="danger" name="remove-outline" (click)="quantityMinus(i)"></ion-icon>
      <ion-text class="ion-test-center quantity">{{item?.quantity}}</ion-text>
      <ion-icon color="success" name="add-outline" (click)="quantityPlus(i)"></ion-icon>
    </ion-row>
  </div>
</div>