div {
    height: 50dvh;
    margin-top: 2%;
    width: 100%;
    border: 2px solid green;

    swiper-container {
        --swiper-pagination-color: var(--ion-color-primary);

        swiper-slide {
            height: 45dvh;

            img {
                width: 100%;
                height: 40dvh;
                border-radius: 10px;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

            }
        }
    }

}

