<ion-header [translucent]="true" class="food-header">
  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg "/>
  <div class="food-details">
    <div class="food-details-label">
      <p>Label of Food</p>
      <p>R 200</p>
    </div>
    <ion-text>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    </ion-text>
  </div>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>With Drink</ion-label>
      <ion-radio-group value="Coke">
        <ion-radio value="coke">Coke  - R20</ion-radio><br />
        <ion-radio value="coke-zero">Coke-zero - R20</ion-radio><br />
        <ion-radio value="fanta">Fanta - R20</ion-radio><br />
      </ion-radio-group>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>With Sauce</ion-label>
      <ion-radio-group value="Coke">
        <ion-radio value="coke">Bbq - R20</ion-radio><br />
        <ion-radio value="coke-zero">Garlic - R20</ion-radio><br />
        <ion-radio value="fanta">Mustard - R20</ion-radio><br />
      </ion-radio-group>
    </ion-item>
    <ion-item>
      <ion-textarea label="Floating label" labelPlacement="floating" placeholder="Enter text"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>


