<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Street Chef Food Truck</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-header> Food Categories</ion-header>
      <div class="ContainerFoodTruck" *ngIf="respFood.length > 0">
        <app-small-squareblocks *ngFor="let food of respFood" [item]="food" [routerLink]="['/', 'foodcategory', food.foodCategory,food.fid ]"></app-small-squareblocks>
      </div>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-header>Popular Food </ion-header>
    <ion-row *ngIf="respFood.length > 0">
      <app-squareblocks *ngFor="let food of respFood" [item]="food" [routerLink]="['/', 'foodcategory', food.fid]"></app-squareblocks>
    </ion-row>
  </ion-grid>
  
  
  <!-- <ion-infinite-scroll >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
  

</ion-content>
