<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stadiums" href="/tabs/stadiums">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Stadiums</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cart" href="/tabs/cart">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
